<p id="notice"><%= notice %></p>

<h1><%= t '.listing' %> <%= BibliographyItem.model_name.human(count: 2)%></h1>

<table>
  <thead>
    <tr>
      <th><%= BibliographyItem.human_attribute_name('titel') %></th>
      <th><%= link_to BibliographyItem.human_attribute_name('author'), bibliography_items_path(sort: @next_sort_order) %></th>
      <th><%= BibliographyItem.human_attribute_name('source') %></th>
      <th><%= BibliographyItem.human_attribute_name('accessed') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bibliography_items.each do |bibliography_item| %>
      <tr>
        <td><%= bibliography_item.titel %></td>
        <td><%= bibliography_item.author %></td>
        <td><%= bibliography_item.source %></td>
        <td><%= bibliography_item.accessed %></td>
        <td><%= link_to t('show'), bibliography_item %></td>
        <td><%= link_to t('edit'), edit_bibliography_item_path(bibliography_item) %></td>
        <td><%= link_to t('destroy'), bibliography_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('new')+' '+ BibliographyItem.model_name.human, new_bibliography_item_path %>
